{% extends "base.njk" %}

{% block content %}
<div ng-controller="indexController">
    <style>
        p{
        color: var(--grey-text);
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;}
    </style>
    <h3 data-i18n="Stakepool Status">Stakepool Status</h3>
    <table id="index-table">
        <tr>
            <td data-i18n="Pool Weight">Pool Weight</td>
            <td width="70%">
                <span class="strong">${website_data.hashrate | number} BLN</strong>
            </td>
        </tr>
        <tr>
            <td data-i18n="Number of Leasers">Number of Leasers</td>
            <td width="70%">
                ${website_data.number}
            </td>
        </tr>
        <tr>
            <td data-i18n="Pool Fee">Pool Fee</td>
            <td width="70%" class="strong">
                {{fee}}%
            </td>
        </tr>
        <tr>
            <td data-i18n="Last Found">Last Found</td>
            <td width="70%">
                <a href="/payouts/${website_data.blockHeight}">${website_data.blockHeight}</a>
            </td>
        </tr>
        <tr>
            <td data-i18n="Blocks Found">Blocks Found</td>
            <td width="70%">
                ${website_data.blocksfound} blocks
            </td>
        </tr>
        <tr>
            <td data-i18n="Last Found Time">Last Found Time</td>
            <td width="70%">
                ${website_data.time | realstr}
            </td>
        </tr>

         <tr>
            <td data-i18n="Network Weight">Network Weight</td>
            <td width="70%" class="strong">
                ${website_data.network.networkhashrate/1e8 | number} BLN
            </td>
        </tr>
        <tr>
            <td data-i18n="Recent Network Stakers">Recent Network Stakers</td>
            <td width="70%">
                ${website_data.network.workers} 
            </td>
        </tr>
        <tr>
            <td data-i18n="Pool PoS reward Est.">Pool PoS reward Est.</td>
            <td width="70%"  class="profit">
                ${website_data.hashrate*1440*30*20.48/(website_data.network.networkhashrate/1e8)}  BLN/month
            </td>
        </tr>
    </table>
</div>
{% endblock %}
