{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Leasers of pool the list">Leasers of pool the list</h3>
    <table id="block-table"  ng-controller="workers">
        <thead>
            <tr>
                <td>No.</td>
                <td class="narrow" data-i18n="Account">Account</td>
                <td class="right mobile-hide" data-i18n="Weight">Weight</td>
                {# <td class="right" data-i18n="Payouts">Payouts</td> #}
                {# <td class="mobile-hide right" data-i18n="Total Reward">Total Reward</td> #}
                {# <td class="right mobile-hide" data-i18n="Paid">Paid</td> #}
                <td class="right" data-i18n="Reward Est.">Reward Est.</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="(index,worker) in workers" ng-if="worker.hashrate > 0">
                <td>${index + 1}</td>
                <td class="address"><a href="/account/${worker.address}">${worker.address}</a></td>
                <td class="mobile-hide right"><span class="strong">${worker.hashrate |format_number} BLN</span></td>
                {# <td class="right"><span class="strong">${worker.payouts}</span></td> #}
                {# <td class="mobile-hide right"><span class="strong">${worker.total_reward} BLN</span></td> #}
                {# <td class="right mobile-hide"><span class="strong">${worker.paid} BLN</span></td> #}
                <td class="right"><span class="profit">${(worker.est * 30).toFixed(3)} <span data-i18n="BLNmonth">BLN/month</span></td>
            </tr>
            <tr ng-if="workers.length == 0">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
