{% extends "base.njk" %}

{% block content %}

<div ng-controller="recent_blocks">
    <h3 data-i18n="Recent Blocks">Recent Blocks</h3>
    <table id="block-table">
        <thead>
            <tr>
                <td class="narrow" data-i18n="height">Height</td>
                <td class="narrow" data-i18n="Confirm">Confirm</td>
                <td class="mobile-hide" data-i18n="time">Time</td>
                <td class="mobile-hide" data-i18n="Block Hash">Block Hash</td>
                <td class="right" data-i18n="reward">Reward</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="tx in txns">
                <td><a href="/payouts/${tx.data.blockHeight}">${tx.data.blockHeight}</a></td>
                <td>
                    <span ng-if="tx.isPayout" class="label label-success">Paid</span>
                    <span ng-if="!tx.isPayout" class="label label-warning">Unpaid</span>
                </td>
                <td class="mobile-hide">${tx.time|realstr}</td>
                <td class="mobile-hide" ng-if="!tx.isPayout"><a target="_blank" href="https://blnscan.io/${tx.data.blockHeight}">${tx.data.blockHash.toLowerCase()}</td>
                <td class="mobile-hide" ng-if="tx.isPayout"><a href="/payouts/${tx.data.blockHeight}">${tx.data.blockHash.toLowerCase()}</a></td>
                <td class="right"><span class="overview_blockHash strong">${tx.data.amount| currency} BLN</span></td>
            </tr>
            <tr ng-if="txns.length == 0">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
