{% extends "base.njk" %}

{% block content %}
<div ng-controller="indexController">
    <h3 data-i18n="Start Cold Staking">Start Cold Staking</h3>
    <style>
        p{
        color: var(--grey-text);
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;}
    </style>
    <h4 data-i18n="Lease coins">1. Lease coins</h4>
    <p><span data-i18n="Use">Use</span> <a href="https://blacknet.ninja/wallet.html" target="_blank">Blacknet Wallet</a> <span data-i18n="lease coins to">lease coins to</span> <strong>{{poolOwner}}</strong>.</p>
    <h4 data-i18n="Waiting 6 hours">2. Waiting 6 Hours</h4>
    <p data-i18n="receive the block reward">You will receive the Block Reward.</p>
</div>
{% endblock %}
